In [1]:
import pandas as pd

In [4]:
df_2020 = pd.read_csv("AB_US_2020.csv", low_memory=False) 
df_2023 = pd.read_csv("AB_US_2023.csv", low_memory=False)

In [5]:
df_2020.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.65146,-82.62792,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.59779,-82.55540,Entire home/apt,470,1,114,07/09/20,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.57864,-82.59578,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.61442,-82.54127,Private room,125,30,58,19/10/15,0.52,1,0,Asheville

In [6]:
df_2023.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,city
0,958,"Bright, Modern Garden Unit - 1BR/1BTH",1169,Holly,NaN,Western Addition,37.77028,-122.43317,Entire home/apt,202,2,383,2023-02-19,2.31,1,128,59,San Francisco
1,5858,Creative Sanctuary,8904,Philip And Tania,NaN,Bernal Heights,37.74474,-122.42089,Entire home/apt,235,30,111,2017-08-06,0.66,1,365,0,San Francisco
2,8142,Friendly Room Apt. Style -UCSF/USF - San Franc...,21994,Aaron,NaN,Haight Ashbury,37.76555,-122.45213,Private room,56,32,9,2022-10-27,0.09,13,365,1,San Francisco
3,8339,Historic Alamo Square Victorian,24215,Rosy,NaN,Western Addition,37.77564,-122.43642,Entire home/apt,575,9,28,2019-06-28,0.17,2,365,0,San Francisco
4,8739,"Mission Sunshine, with Private Bath",7149,Ivan & Wendy,NaN,Mission,37.76030,-122.42197,Private room,110,1,770,2023-02-25,4.65,2,159,34,San Francisco

In [7]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226030 entries, 0 to 226029
Data columns (total 17 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              226030 non-null  int64
 1   name                            226002 non-null  object
 2   host_id                         226030 non-null  int64
 3   host_name                       225997 non-null  object
 4   neighbourhood_group             110185 non-null  object
 5   neighbourhood                   226030 non-null  object
 6   latitude                        226030 non-null  float64
 7   longitude                       226030 non-null  float64
 8   room_type                       226030 non-null  object
 9   price                           226030 non-null  int64
 10  minimum_nights                  226030 non-null  int64
 11  number_of_reviews               226030 non-null  int64
 12  last_review                     177428 non-null  object
 13  reviews_per_month               177428 non-null  float64
 14  calculated_host_listings_count  226030 non-null  int64
 15  availability_365                226030 non-null  int64
 16  city                            226030 non-null  object
dtypes: float64(3), int64(7), object(7)
memory usage: 29.3+ MB

In [8]:
df_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232147 entries, 0 to 232146
Data columns (total 18 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              232147 non-null  int64
 1   name                            232131 non-null  object
 2   host_id                         232147 non-null  int64
 3   host_name                       232134 non-null  object
 4   neighbourhood_group             96500 non-null   object
 5   neighbourhood                   232147 non-null  object
 6   latitude                        232147 non-null  float64
 7   longitude                       232147 non-null  float64
 8   room_type                       232147 non-null  object
 9   price                           232147 non-null  int64
 10  minimum_nights                  232147 non-null  int64
 11  number_of_reviews               232147 non-null  int64
 12  last_review                     183062 non-null  object
 13  reviews_per_month               183062 non-null  float64
 14  calculated_host_listings_count  232147 non-null  int64
 15  availability_365                232147 non-null  int64
 16  number_of_reviews_ltm           232147 non-null  int64
 17  city                            232147 non-null  object
dtypes: float64(3), int64(8), object(7)
memory usage: 31.9+ MB

In [9]:
df_2020.describe(include='all')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
count,2.260300e+05,226002,2.260300e+05,225997,110185,226030,226030.000000,226030.000000,226030,226030.000000,2.260300e+05,226030.000000,177428,177428.00000,226030.000000,226030.000000,226030
unique,NaN,218443,NaN,30533,34,1450,NaN,NaN,4,NaN,NaN,NaN,2377,NaN,NaN,NaN,28
top,NaN,Home away from home,NaN,Michael,Manhattan,Unincorporated Areas,NaN,NaN,Entire home/apt,NaN,NaN,NaN,15/03/20,NaN,NaN,NaN,New York City
freq,NaN,75,NaN,2025,20236,8020,NaN,NaN,154173,NaN,NaN,NaN,2915,NaN,NaN,NaN,45756
mean,2.547176e+07,NaN,9.352385e+07,NaN,NaN,NaN,35.662829,-103.220662,NaN,219.716529,4.525490e+02,34.506530,NaN,1.43145,16.698562,159.314856,NaN
std,1.317814e+07,NaN,9.827422e+07,NaN,NaN,NaN,6.849855,26.222091,NaN,570.353609,2.103376e+05,63.602914,NaN,1.68321,51.068966,140.179628,NaN
min,1.090000e+02,NaN,2.300000e+01,NaN,NaN,NaN,18.920990,-159.714900,NaN,0.000000,1.000000e+00,0.000000,NaN,0.01000,1.000000,0.000000,NaN
25%,1.515890e+07,NaN,1.399275e+07,NaN,NaN,NaN,32.761783,-118.598115,NaN,75.000000,1.000000e+00,1.000000,NaN,0.23000,1.000000,0.000000,NaN
50%,2.590916e+07,NaN,5.138266e+07,NaN,NaN,NaN,37.261125,-97.817200,NaN,121.000000,2.000000e+00,8.000000,NaN,0.81000,2.000000,140.000000,NaN
75%,3.772624e+07,NaN,1.497179e+08,NaN,NaN,NaN,40.724038,-76.919323,NaN,201.000000,7.000000e+00,39.000000,NaN,2.06000,6.000000,311.000000,NaN
max,4.556085e+07,NaN,3.679176e+08,NaN,NaN,NaN,47.734620,-70.995950,NaN,24999.000000,1.000000e+08,966.000000,NaN,44.06000,593.000000,365.000000,NaN

In [10]:
df_2023.describe(include='all')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,city
count,2.321470e+05,232131,2.321470e+05,232134,96500,232147,232147.000000,232147.000000,232147,232147.000000,232147.000000,232147.000000,183062,183062.000000,232147.000000,232147.000000,232147.000000,232147
unique,NaN,220164,NaN,29368,30,1412,NaN,NaN,4,NaN,NaN,NaN,3147,NaN,NaN,NaN,NaN,27
top,NaN,Presidential Suite In A Mansion,NaN,Blueground,City of Los Angeles,Unincorporated Areas,NaN,NaN,Entire home/apt,NaN,NaN,NaN,2023-03-05,NaN,NaN,NaN,NaN,New York City
freq,NaN,150,NaN,4305,22204,11882,NaN,NaN,169142,NaN,NaN,NaN,5008,NaN,NaN,NaN,NaN,42931
mean,2.584580e+17,NaN,1.582248e+08,NaN,NaN,NaN,36.610585,-98.301436,NaN,259.468001,13.495867,40.915230,NaN,1.638348,29.879055,180.985686,11.689701,NaN
std,3.465985e+17,NaN,1.587164e+08,NaN,NaN,NaN,5.126523,19.706929,NaN,1024.645918,27.920631,80.649152,NaN,1.910812,106.013665,134.715299,20.599954,NaN
min,6.000000e+00,NaN,2.300000e+01,NaN,NaN,NaN,25.957323,-123.089130,NaN,0.000000,1.000000,0.000000,NaN,0.010000,1.000000,0.000000,0.000000,NaN
25%,2.638896e+07,NaN,2.299242e+07,NaN,NaN,NaN,33.976225,-118.315111,NaN,91.000000,2.000000,1.000000,NaN,0.310000,1.000000,52.000000,0.000000,NaN
50%,4.896307e+07,NaN,1.005783e+08,NaN,NaN,NaN,36.190556,-97.727670,NaN,149.000000,3.000000,9.000000,NaN,1.000000,2.000000,175.000000,3.000000,NaN
75%,6.633014e+17,NaN,2.686930e+08,NaN,NaN,NaN,40.717440,-77.026222,NaN,250.000000,30.000000,43.000000,NaN,2.420000,10.000000,321.000000,16.000000,NaN
max,8.581014e+17,NaN,5.069384e+08,NaN,NaN,NaN,47.734010,-70.996000,NaN,100000.000000,1250.000000,3091.000000,NaN,101.420000,1003.000000,365.000000,1314.000000,NaN

In [11]:
df_2020.isnull().sum()

id                                     0
name                                  28
host_id                                0
host_name                             33
neighbourhood_group               115845
neighbourhood                          0
latitude                               0
longitude                              0
room_type                              0
price                                  0
minimum_nights                         0
number_of_reviews                      0
last_review                        48602
reviews_per_month                  48602
calculated_host_listings_count         0
availability_365                       0
city                                   0
dtype: int64

In [12]:
df_2023.isnull().sum()

id                                     0
name                                  16
host_id                                0
host_name                             13
neighbourhood_group               135647
neighbourhood                          0
latitude                               0
longitude                              0
room_type                              0
price                                  0
minimum_nights                         0
number_of_reviews                      0
last_review                        49085
reviews_per_month                  49085
calculated_host_listings_count         0
availability_365                       0
number_of_reviews_ltm                  0
city                                   0
dtype: int64

In [13]:
# Drop useless column 
df_2020 = df_2020.drop(columns=["neighbourhood_group"], errors="ignore") 

# Fill reviews_per_month 
df_2020["reviews_per_month"] = df_2020["reviews_per_month"].fillna(0) 

# Fill host_name if you want 
df_2020["host_name"] = df_2020["host_name"].fillna("Unknown")

# Converting the datatype of last_review to datetime
df_2020["last_review"] = pd.to_datetime(df_2020["last_review"], errors="coerce")

In [14]:
# Drop useless column 
df_2023 = df_2023.drop(columns=["neighbourhood_group"], errors="ignore") 

# Fill reviews_per_month 
df_2023["reviews_per_month"] = df_2023["reviews_per_month"].fillna(0) 

# Fill host_name if you want 
df_2023["host_name"] = df_2023["host_name"].fillna("Unknown")

# Converting the datatype of last_review to datetime
df_2023["last_review"] = pd.to_datetime(df_2023["last_review"], errors="coerce")

In [18]:
df_2023.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                             0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       49085
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
city                                  0
dtype: int64

In [19]:
df_2020.isnull().sum()

id                                    0
name                                 28
host_id                               0
host_name                             0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       48602
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
city                                  0
dtype: int64

In [20]:
# adding a year column in the both dataframes 
df_2020["year"] = 2020
df_2023["year"] = 2023

In [23]:
# Removing the records where the price is 0 which means the property is unavailable for booking
import numpy as np

df_2020["price"] = df_2020["price"].replace(0, np.nan)
df_2023["price"] = df_2023["price"].replace(0, np.nan)

In [24]:
# Removing or capping the values in minimum_nights column so it doesnt skew our analysis of minimumnight trends(some hosts enter huge numbers to block bookings without officially pausing their listing)
df_2020 = df_2020[df_2020["minimum_nights"] < 365]
df_2023 = df_2023[df_2023["minimum_nights"] < 365]

In [28]:
# Creating a column demand_category from reviews_per_month column

df_2020["demand_category"] = pd.cut( df_2020["reviews_per_month"], 
                                    bins=[-0.01, 0, 0.3, 1, 2, df_2020["reviews_per_month"].max()], 
                                    labels=["No demand", "Low", "Medium", "High", "Very high"] ) 
df_2023["demand_category"] = pd.cut( df_2023["reviews_per_month"], 
                                    bins=[-0.01, 0, 0.3, 1, 2, df_2023["reviews_per_month"].max()], 
                                    labels=["No demand", "Low", "Medium", "High", "Very high"] )

In [29]:
# Our data is ready to transfer into SQL for next step
!pip install psycopg-binary sqlalchemy
!pip install psycopg
!pip install psycopg2-binary

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg-binary in c:\users\admin\appdata\roaming\python\python311\site-packages (3.3.2)
Requirement already satisfied: sqlalchemy in c:\users\admin\appdata\roaming\python\python311\site-packages (2.0.45)
Requirement already satisfied: greenlet>=1 in c:\users\admin\appdata\roaming\python\python311\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\appdata\roaming\python\python311\site-packages (from sqlalchemy) (4.13.2)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg in c:\users\admin\appdata\roaming\python\python311\site-packages (3.3.2)
Requirement already satisfied: typing-extensions>=4.6 in c:\users\admin\appdata\roaming\python\python311\site-packages (from psycopg) (4.13.2)
Requirement already satisfied: tzdata in c:\users\admin\appdata\roaming\python\python311\site-packages (from psycopg) (2025.3)

In [48]:
## Connecting to postgre sql
from sqlalchemy import create_engine
import psycopg
username="postgres"
password="N@vya19sep"
host = "localhost"
port = "5433"
database ="air_bnb"
engine = create_engine( "postgresql+psycopg://postgres:N%40vya19sep@localhost:5433/air_bnb" ) # password is encoded N@vya19sep to N%40vya19sep
table_name = "airbnb_2020" #choosing any table name
df_2020.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into the table '{table_name}' in database '{database}'.")

Data successfully loaded into the table 'airbnb_2020' in database 'air_bnb'.

In [49]:
table_name = "airbnb_2023" #choosing any table name
df_2023.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into the table '{table_name}' in database '{database}'.")

Data successfully loaded into the table 'airbnb_2023' in database 'air_bnb'.